body {
    background-color:rgb(113, 84, 73);
}

.Songs {
    background-color: rgb(148, 137, 106);
    color: rgb(255, 252, 245);
    border: 2px solid rgb(103, 66, 24);
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgb(69, 66, 6);
    padding: 10px;
    font-style: initial;
}

.Autumn {
    background-color: rgb(235, 182, 84);
    color: white;
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;
    padding: 5px;

    height: 300px;

    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.Autumn h3 {
    background-color: rgb(204, 157, 70);
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;

    padding: 5px;

    width: 170px;
    position: relative;
    top: -7.5px;
    left: 10px;
    font-size: x-large;
}
.Autumn a {
    color: white;
}
.Autumn a:hover {
    color: rgb(167, 238, 200);
}
.Autumn img {
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;
    margin: 2px;
    position: relative;
    top: -25px
}
.Autumn ol {
    background-color: rgb(204, 157, 70);
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;
    position: relative;
    top: -279.5px;
    left: 420px;
    
    width: 300px;

    padding: 5px;
    padding-left: 25px;

    font-size: larger;
}

.TbRPG {
    background-color: rgb(87, 154, 94);
    color: white;
    border: 2px solid rgb(19, 75, 35);
    border-radius: 3px;
    padding: 5px;
    
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    height: 300px;
}
.TbRPG h3 {
    background-color: rgb(70, 131, 82);
    border: 2px solid rgb(19, 75, 35);
    border-radius: 3px;

    padding: 5px;

    width: 170px;

    position: relative;
    top: -7.5px;
    left: 10px;
    font-size: x-large;
}
.TbRPG a {
    color: white;
}
.TbRPG a:hover {
    color:rgb(208, 164, 136);
}
.TbRPG img {
    border: 2px solid rgb(19, 75, 35);
    border-radius: 3px;
    margin: 2px;
    position: relative;
    top: -25px
}
.TbRPG ol {
    background-color: rgb(70, 131, 82);
    border: 2px solid rgb(19, 75, 35);
    border-radius: 3px;
    position: relative;
    top: -278.75px;
    left: 245px;
    
    width: 300px;

    padding: 5px;
    padding-left: 25px;

    font-size: larger;
}
.TbRPG ul {
    background-color: rgb(70, 131, 82);
    border: 2px solid rgb(19, 75, 35);
    border-radius: 3px;
    position: relative;
    top: -279px;
    left: 245px;
    width: 300px;

    padding: 5px;
    padding-left: 25px;
    
    font-size: larger;
}

.PumpkinPies {
    background-color: rgb(235, 182, 84);
    color: white;
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;
    padding: 5px;

    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    height: 300px;
}
.PumpkinPies h3 {
    background-color: rgb(204, 157, 70);
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;

    padding: 5px;

    width: 150px;
    position: relative;
    top: -7.5px;
    left: 10px;
    font-size: x-large;
}
.PumpkinPies a {
    color: white;
}
.PumpkinPies a:hover {
    color: rgb(136, 225, 177);
}
.PumpkinPies img {
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;
    margin: 2px;
    position: relative;
    top: -22.75px
}
.PumpkinPies ol {
    background-color: rgb(204, 157, 70);
    border: 2px solid rgb(103, 66, 24);
    border-radius: 3px;
    position: relative;
    top: -276px;
    left: 245px;
    
    width: 300px;

    padding: 5px;
    padding-left: 25px;

    font-size: larger;
}